@font-face {
    font-family: 'lucida_handwritingitalic';
    src: url('fonts/lhandw/lhandw-webfont.eot');
    src: url('fonts/lhandw/lhandw-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lhandw/lhandw-webfont.woff') format('woff'),
         url('fonts/lhandw/lhandw-webfont.ttf') format('truetype'),
         url('fonts/lhandw/lhandw-webfont.svg#lucida_handwritingitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'ArialRoundedMTBold';
	src: url('fonts/ArialRoundedMTBold/ArialRoundedMTBold.eot?') format('eot'), 
	     url('fonts/ArialRoundedMTBold/ArialRoundedMTBold.woff') format('woff'), 
	     url('fonts/ArialRoundedMTBold/ArialRoundedMTBold.ttf')  format('truetype'),
	     url('fonts/ArialRoundedMTBold/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
}
@font-face {
    font-family: 'arialnarrow';
    src: url('fonts/arialn/arialn-webfont.eot');
    src: url('fonts/arialn/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arialn/arialn-webfont.woff') format('woff'),
         url('fonts/arialn/arialn-webfont.ttf') format('truetype'),
         url('fonts/arialn/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuemedium';
    src: url('fonts/helvetica-neue-medium/helvetica-neue-medium-1361522099-webfont.eot');
    src: url('fonts/helvetica-neue-medium/fonts/helvetica-neue-medium/helvetica-neue-medium-1361522099-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica-neue-medium/helvetica-neue-medium-1361522099-webfont.woff') format('woff'),
         url('fonts/helvetica-neue-medium/helvetica-neue-medium-1361522099-webfont.ttf') format('truetype'),
         url('fonts/helvetica-neue-medium/helvetica-neue-medium-1361522099-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{background:url(images/bg.jpg) repeat;}
.top{background:#43026a; height:28px;}
h3.quiz_title{ font-family:ArialRoundedMTBold; font-size:45px; color:#898889;}
.start a{ text-transform:uppercase; color:#43026a; font:27px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.btn-primary {background-color: #43026A;border-color: #43026A;color: #FFFFFF;padding: 9px 37px;font-family: 'ArialRoundedMTBold'; font-size:17px;min-width: 150px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background-color: #7926AD;border-color: #7926AD;color: #FFFFFF;}
label.title, form legend, label, .leadformcontainer h3{font-family: 'arialnarrow'; font-size:38px; color:#43026A; text-transform:capitalize; margin:0;}
.leadformcontainer p{font-size:22px; color:#898889; font-family: 'arialnarrow'; margin:0;}
.radio label{font-family: 'helveticaneuemedium'; font-size:18px; color:#989898;}
form label{font-family: 'helveticaneuemedium';font-size:12px; color:#888;font-weight: normal;}
form .control-group{margin-bottom:15px;}
form input{ color:#989898;font-family: 'helveticaneuemedium';font-size:18px;}

.progress-striped .bar{background-color: #43026A;}
.lead_form {padding-top: 10px;}
.lead_form .leadformcontainer{border:1px solid #d2d0d0; background:#eee; display:block; margin:0 auto; width:70%; border-radius:10px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); min-width:220px;max-width: 510px;padding: 40px 9%;}
.lead_form form{display:table; margin:0 auto;width: 100%;}
.tags_button label{background:url(images/arrow.png) no-repeat;display: block;height: 64px;right: -139px;top: -30px;position: absolute;width: 101px;}
.form-inline .lead_form .form-control{border:1px solid #e2e2e2; width:100%; font-size:18px; height:40px; border-radius:5px;}
.tags_button{position:relative;}
.listing_cat h4, .listing_cat p{font-family: 'helveticaneuemedium';}

/* Large desktop */
@media (min-width: 1200px) { .tab_form .lead_form .tags_button label{display:block;} }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
h3.quiz_title{font-size: 35px;}
.btn-primary{margin-bottom:15px;}

.social_sharing{margin-bottom:20px;}
#profile-results-overview h4{ font-size:30px;}
#complete_quiz h4 {clear: both;}
.progress{margin-top:10px;}
.btn-primary{min-width: 110px;padding: 9px 20px;}
.lead_form .leadformcontainer{min-width: 260px;padding: 40px 3%;}
.col-lg-12, .col-lg-3, .col-lg-9{padding:0;}
#complete_quiz .sidebar > ul {padding-left: 90px;}
.lead_form .leadformcontainer{max-width:none;width: 80%;}
.lead_form .leadformcontainer .form-horizontal {float: right;max-width: 73%;}
.leadformcontainer:after{clear:both; content:"."; display:block; visibility:hidden; height:0;}
.form_image {left: -13%;width: 40%;min-width: 150px;}
.tags_button label{display:none;}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
.lead_form .leadformcontainer{width:auto;}
.lead_form .leadformcontainer .form-horizontal {float: none;max-width: none;}
.form_image {position: static; margin-top:-25px;}
.tags_button label{display:none;}
 }


/* buyquench home page banner*/
body.home_banner, .home_banner .top{background:none !important;}
.home_banner h3.quiz_title {font-family: 'Roboto Slab', serif;font-size: 2em;color: #FFF;}